@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #1F2937;
}

#hero nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 20px;
    box-sizing: border-box;
    padding-left: 23%;
    padding-right: 23%;
}
#hero nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    
}
#hero nav #logo {
    flex: 1;
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
    padding-right:60px;
}
#hero a:link, #hero a:visited {
    color: white;
    text-decoration: none;
}
#hero .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 23%;
    padding-right: 23%;
    max-width: auto;
}
#hero .content .hero-typo {
    min-width: 200px;
    max-width: 600px;
}
#hero .content .hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}
#hero .content .hero-content {
    max-width: 600px;
    min-width: auto;
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
    padding-right: 50px;
}
#hero .hero-typo button {
    background-color: #3882F6;
    align-items: center;
    border-radius: 8px;
    color: white;
    text-align: center;
    width: auto;
    padding: 10px 30px;
    border: 10px;
    margin-bottom: 30px;
}
#hero .content .hero-img {
    flex: 1;
    align-items: center;
    color: white;
    background-color: darkgray;
    width: 100%;
    text-align:center;
    padding-top: 100px;
    max-width: 600px;
    min-width: 200px;
}



#information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 90px;
    padding-top: 50px;
}
#information .heading-1 {
    flex: 1;
    font-size: 35px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-bottom: 20px;
}
#information-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#information [class*=frame] {
    border: 3px solid #3882F6;
    border-radius: 8px;
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 20px; 
}
#information [class*=content] {
    width: 150px;
    text-align: center;
    margin-left: 22px;
    margin-top: -10px;
    font-size: 16px;
}



#review {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
#review .quote {
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-weight: 350;
    font-size: 36px;
    color: #1F2937;
    max-width: 800px;
    text-align: left;
}
#review .quote-author {
    display: flex;
    justify-content: right;
    text-align: right;
    max-width: 800px;
    font-size: 1.5em;
    font-weight: 600;
}


#ads {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#banner {
    display: block;
    width: 1000px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
}
#banner .typo {
    display: flex;
    flex-direction: column;
    padding: 60px;
    padding-left: 100px;
 
}
#banner .typo .title {
    font-weight: 400;
}
#banner .typo .subtitle {
    font-weight: 200;
}
#banner button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 30px;
    border: 2px solid white;
    margin-top: -35px;
    margin-left: 600px;
    max-width: 150px;
}


footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}